<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Camisetas</h5>
                    <p class="card-text"></p>
                    <a href="" class="btn btn-success">Comprar ahora</a>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Maquillajes</h5>
            <p class="card-text"></p>
            <a href="" class="btn btn-success">Reservar cita</a>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Manicura</h5>
            <p class="card-text"></p>
            <a href="" class="btn btn-success">Reservar cita</a>
        </div>
    </div>
</div>
</div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                     <h5 class="card-title">Sacos</h5>
                     <p class="card-text"></p>
                    <a href="" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Maquillaje</h5>
                    <p class="card-text">

                    </p>
                    <a href="" class="btn btn-success">Comprar ahora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                     <h5 class="card-title">Medias</h5>
                     <p class="card-text"></p>
                     <a href="" class="btn btn-success">Comprar ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Zapatillas</h5>
                        <p class="card-text"></p>
                        <a href="" class="btn btn-success">Comprar ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Pantalones</h5>
                        <p class="card-text"></p>
                        <a href="" class="btn btn-success">Comprar ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Vestidos</h5>
                        <p class="card-text"></p>
                        <a href="" class="btn btn-success">Comprar ahora</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>

<footer class="text-center text-lg-start bg-white text-muted">
   
    <section class="">
    
      <div class="me-5 d-none d-lg-block">
        <span></span>
      </div>
      
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
      


    </section>
    
    <section class="">
      <div class="container text-center text-md-start mt-5">
        
        <div class="row mt-3">
          
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
         
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Demon
            </h6>
            <p>
              Nuestra tienda se basa en la compra y venata de ropa usada o nueva, se puede encontrar muchas variedad
            </p>
          </div>
          
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
           
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Quejas</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Reclamos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Sugerencias</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Mas informacion</a>
            </p>
          </div>
          
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
             Mas informacion
            </h6>
            <p>
              <a href="#!" class="text-reset">Compra</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Venta</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Metodos de pago</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ayuda</a>
            </p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Bogota D.C</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              sayra@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 57 32651812</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 57 32698541</p>
          </div>
          
        </div>
        
      </div>
    </section>
    
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
 
  </footer>

